{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact Page</h1>
<p>Feel free to get in touch with us for any inquiries or assistance.</p>
<div class="contact-info">
    <h2>Our Office</h2>
    <p>123 Main Street, Cityville</p>
    <p>Phone: +1 (555) 123-4567</p>
    <p>Email: info@example.com</p>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>
</div>
</div>
{% endblock %}